.swiper-container {
  overflow: hidden;
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  width: 58px !important;
  height: 55px !important;
  border-radius: 50% !important;
  background-color: #ffffff;
  color: black !important;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  text-align: center !important;
  font-size: 17px !important;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

@media (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    width: 58px !important;
    height: 55px !important;
    border-radius: 50% !important;
    background-color: #570707;
    color: red !important;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    z-index: 10;
  }
}
